@model GraduateDesignBk.Models.AnnouandP
@{
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            标题
        </th>
        <th>
            内容
        </th>
        <th>
            发布者
        </th>
        <th>
            发布时间
        </th>
        <th>
            阅读次数
        </th>
        <th>操作</th>
    </tr>

    @foreach (var item in Model.AnnouItems)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReadTimes)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ANID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ANID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ANID })
            </td>
        </tr>
    }
</table>
