@model IEnumerable<GraduateDesignBk.Models.ViewsModel.MsgViewModel>
@{
    ViewBag.Title = "Index";
}
<p>
    <a href="javascript:Submit('DeleteMany')" class="btn btn-default">删除</a>
</p>
@using (Html.BeginForm("DeleteMany", "Msg", null, FormMethod.Post, new { id = "form_DeleteMany" }))
{
    <input type="hidden" id="DeleteMany" name="Id" value="" />
}
<i><b>历史消息</b></i>
<table class="table table-striped table-bordered table-hover table-condensed">
    <tr>
        <th>
            <label for="Totalselect" class="btn btn-default">全 选</label>
            <input type="checkbox" id="Totalselect" onclick="CheckDelete()" />
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th> 
        <th>
            @Html.DisplayNameFor(model => model.Detail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FromUID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="width:100px">
            <input type="checkbox" id="@item.NID" name="delId" value="@item.NID" />
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
         <td>
            @Html.DisplayFor(modelItem => item.Detail)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FromUID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreateTime)
        </td>
        <td>
            @Html.ActionLink("详情", "Details", new { id=item.NID })
        </td>
    </tr>
}
</table>